body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4e6fa; 
}

/* Header and Navigation styling */
header {
    background-color: #484848; 
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #b82ee7; /* Change color on hover */
}

/* Main content styling */
main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

/* Table styling */
table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Article and content layout */
article {
    margin-bottom: 20px;
}

h2 {
    color: #000000;
}

h3 {
    margin-top: 20px;
}
a:hover {
    color: #b82ee7; 
}


/* Responsive design for small screens */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    table {
        width: 100%;
        font-size: 14px;
    }
}
/* please work*/